<footer class="footer bg-dark py-3 mt-auto">
    <!-- py padding y axis- ie top and bottom -->
    <!-- mt-auto moves footer to the bottom -->
    <div class="container">
        <span class="text-muted">&copy; Yelp Camp 2021</span>
    </div>
</footer>